html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #010f2a;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9u11WAJ6eyqN71LbqTGLnHJYj2nrVzMI-lw&s');
  background-size: cover;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 100px auto;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(124, 122, 131, 0.2), 0 10px 10px rgba(0, 0, 0, 0.12);
  background-color: rgb(0, 0, 0);
}

.app-title {
  font-family: 'Times New Roman', Times, serif;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 0.5rem;
  text-align: center;
  color: #ffffff;
}

.form-input-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px;
}

.form-input {
  width: 61%;
  height: 40px;
  border: 1px solid #ddd;
  outline: none;
  background-color: #fafafa;
  padding: 8px;
  font-size: 16px;
  color: #333;
  border-radius: 3px;
  margin-right: 10px;
}

.form-select {
  width: 16%;
  height: 57px;
  border: 1px solid #ddd;
  outline: none;
  background-color: #fafafa;
  padding: 3px;
  font-size: 16px;
  color: #333;
  border-radius: 3px;
  margin-right: 10px;
}

.form-btn {
  height: 57px;
  width: 16%;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  text-transform: capitalize;
  background-color: #007bff;
  color: #fff;
  border-radius: 3px;
}

.form-btn:hover {
  background-color: #0056b3;
}

.todo-item {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fafafa;
  margin-left: 0.5rem;
  border-bottom: 1px solid #ddd;
  margin-top: 1rem;
  transition: background-color 0.3s;
}

.todo-item:nth-child(even) {
  background: #e4e3e3;
}

.todo-item:hover {
  background-color: #d7d7d7;
}


.todo-item h3 {
  margin: 0;
  flex: 1;
  text-decoration: none;
}

.todo-item.completed h3 {
  text-decoration: line-through;
  color: #0d3d08;
}

.todo-item p {
  margin: 0 15px;
  font-size: 14px;
  color: #666;
}

.todo-item button {
  border: none;
  background: none;
  cursor: pointer;
}

.todo-item .checkbox {
  padding: 0.2rem;
}

.todo-item .btn-delete {
  color: rgb(255, 0, 0);
  font-weight: bold;
  font-size: 20px;
  padding: 0.5rem;
}

.todo-item .btn-delete:hover {
  color: rgb(139, 2, 2);
}

.todo-item .edit-window{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.todo-item .edit-input {
  width: 65%;
  height: 1.7rem;
  border: 1px solid #ddd;
  outline: none;
  background-color: #fafafa;
  font-size: 16px;
  color: #333;
  font-weight: bold;
  border-radius: 3px;
  margin-right: 10px;
}

.todo-item .edit-priority {
  width: 20%;
  height: 1.9rem;
  border: 1px solid #ddd;
  outline: none;
  background-color: #fafafa;
  font-size: 16px;
  color: #333;
  font-weight: bold;
  border-radius: 3px;
  margin-right: 10px;
}

.todo-item .btn-edit {
  color: rgb(13, 149, 22);
  font-size: 1.25rem;
  font-weight: bold;
  margin-right: 0.5rem;
}

.todo-item .btn-edit:hover {
  color: rgb(6, 44, 11);
}

.todo-item .btn-save {
  background-color: #00ff37;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  margin-right: 0.5rem;
} 

.todo-item .btn-save:hover {
  background-color: #00d52f;
}

.todo-item .btn-cancel{
  background-color: red;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}

.todo-item .btn-cancel:hover {
  background-color: rgb(218, 3, 3);
}

.todo-item .font-priority {
  color: rgb(42, 41, 41);
  font-size: 1rem;
}

.panel {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.panel button {
  background-color: #80817c;
  color: white;
  border: none;
  padding: 5px 18px;
  margin: 0 5px; 
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.panel button:hover {
  background-color: #57595b;
}

.panel .completed {
  background-color: #28a745;
}

.panel .completed:hover {
  background-color: #218838;
}

.panel .notcomp {
  background-color: #ffc107;
}

.panel .notcomp:hover {
  background-color: #e0a800;
}

.panel .prior {
  background-color: #17a2b8;
}

.panel .prior:hover {
  background-color: #138496;
}


.todo-item.completed {
  background-color: rgb(169, 255, 169);
  color: white;
}

.todo-item.incomplete {
  background-color: rgb(252, 252, 184);
  color: black;
}

.todo-item.completed:hover {
  background-color: rgb(131, 225, 131);
  color: white;
}

.todo-item.incomplete:hover {
  background-color: rgb(233, 233, 144);
  color: black;
}


h4{
  color: white;
  margin-left: 0.5rem;
}

.scroll {
  padding-right: 0.5rem ;
}

.scroll::-webkit-scrollbar {
  width: 8px;
}

.scroll::-webkit-scrollbar:hover {
  background: #555; 
}
